@charset "UTF-8";
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

section{
	border: 1px solid #000;
	width: 800px;
}

.btn{
	list-style: none;
	padding:0;
	margin:0;
	/* border: 1px solid red; */
	/* 자식에게 플로트를 주게되면 보더가 떠버림 그래서 오버플로우 해야됨 */
	overflow: hidden;	
	cursor: pointer;
}

.btn li{
	float: left;
	border: 1px solid #000;
	background-color: gray;
	
}

.btn li.active{
	background-color: #fff;
}

.tabs{
	
}

.tabs div{
		border: 1px solid #000;
		height: 200px;
		display: none;		
}

.tabs div.active{
	display: block;
}