@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body{
		font-family: 'Noto Sans KR', sans-serif;
		/* 수평, 플렉스 먼저 해야함 */
		justify-content: center;
		display: flex;
		/* items 있어야 ,vh는 정가운데 배치 가능 */
		align-items: center;
		height: 100vh;
		font-size: 16px;
}
.star-rating{
	background-color: #333;
	width: 250px;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

.star-rating div{
	float: left;
	/* 1:1비율 */
	width: 50%;
	
}
.stars{
	
}

.stars .fa{
	font-size: 18px;	
	cursor: pointer;	
}
.stars .fa.active{
	color: yellow;
	text-shadow: 0 0 5px yellow;
}

.print{
	color: #fff;
}